.sheet {
  width: 297mm;
  height: 210mm;
  margin: 20px auto;
  padding: 12mm;

  box-sizing: border-box;
  background: #fff;
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
}


/* ───── Título ───── */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #000;
  font-size: 14px;
  font-weight: bold;

  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 6px;
}


.titleTwo {
  font-size: 1.5rem;
  margin: 2rem 1rem 1rem 1rem;
  text-align: center;
  color: #333;
  width: 55rem;
  height: 1rem;
}

/* ───── Pie chart + legenda ───── */
.graficoPizzaContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  margin: 0 auto;
  width: 100%;
}


.legenda {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 250px;
}

.legendaItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #444;
}

.corQuadrado {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #ccc;
}

/* ───── Filtro ───── */
.filtroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filtroLabel {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.filtroSelect {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #111;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  max-width: 220px;
  width: 100%;
  color: #219b11;
}

.filtroSelect:hover {
  border-color: #219b11;
}

.filtroSelect:focus {
  border-color: #219b11;
  box-shadow: 0 0 0 3px rgba(16, 158, 28, 0.2);
}

/* ───── Total ───── */
.totalContainer {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #333;
  margin: 1rem 0rem;
}

.totalValor {
  color: #219b11;
  font-weight: bold;
}

/* ───── Bar chart ───── */
.barWrapper {
  flex: 1;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ───── Botões ───── */
.btnRow {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0 1.5rem;
}

.btnPrint {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: #219b11;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrint:hover {
  background-color: #116e04;
}

/* ───── Data ───── */
.dataAtual {
  margin-top: auto;
  padding-top: 6px;
  border-top: 1px solid #ccc;

  display: flex;
  justify-content: flex-end;

  font-size: 11px;
  color: #333;
}


/* ───── Logo ───── */
.logoIeb {
  height: 80px;
  width: auto;
  object-fit: contain;
  display: block;
}

.pieWrapper {
  width: 90mm;
  height: 90mm;
  display: flex;
  align-items: center;
  justify-content: center;
}

