.formContainer {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: var(--gray-dark);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-green);
}

.formContainer h1 { 
  color: var(--primary-green);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 2px solid var(--gray-light);
  padding-bottom: 1rem;
  text-shadow: 0 0 20px rgba(31, 179, 106, 0.3);
}

.saudacao {
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-green);
  margin-bottom: 1.5rem;
  font-weight: 500;
  display: inline-block;
  white-space: pre-wrap;
}

.saudacao::after {
  content: '|';
  animation: blink 2s infinite;
  color: green;
  font-weight: bold;
}


@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.inputField {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 1.2rem;
  border: 0.5px solid var(--gray-light);
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: var(--gray-medium);
  color: var(--white);
}

.inputField:focus {
  outline: none;
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.5px green;
}

.inputField::placeholder {
  color: var(--white-muted);
}

.button {
  width: 100%;
  padding: 0.9rem;
  background-color: var(--primary-green);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  box-shadow: 0 4px 12px green;
}

.button:hover {
  background-color: var(--primary-green-light);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px white;
}

.button:active {
  background-color: var(--primary-green-dark);
  transform: translateY(1px);
  box-shadow: 0 2px 8px rgba(31, 179, 106, 0.4);
}

@media (max-width: 768px) {
  .formContainer {
    padding: 1.5rem;
  }
  
  .formContainer h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  form.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  
  .inputField {
    margin-bottom: 0.8rem;
  }
  
  .button {
    grid-column: 1 / span 2;
    margin-top: 1rem;
  }
}

.fullWidth {
  grid-column: 1 / -1;
  height: 120px; 
  resize: none;  
  overflow-y: auto;
}

@media (min-width: 768px) {
  form.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  
  .inputField {
    margin-bottom: 0.8rem;
  }
  
  .button {
    grid-column: 1 / span 2;
    margin-top: 1rem;
  }
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--gray-medium);
  color: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.buttonCopy {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--gray-medium);
  border: none;
  color: var(--white);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buttonCopy:hover {
  background-color: var(--gray-medium);
  color: var(--primary-green);
}

.buttonOk {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-green);
  border: none;
  color: var(--white);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buttonOk:hover {
  background-color: var(--primary-green-dark);
}
