.container {
  padding: 1rem;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 4rem;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.tabelaContainer {
  max-height: 800px;
  border: 1px solid #2c2c2c;
  border-radius: 1px;
}

.table tbody {
  display: block;
  max-height: 900px;
  overflow-y: auto;
}

.table thead,
.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #2c2c2c;
  z-index: 10;
}


.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.table th{
  padding: 6px 3px;
  text-align: center;
  font-size: 0.85rem;
}

.table td {
  padding: 3px 1px;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.table th {
  background-color: #2c2c2c;
  color: #e0e0e0;
  font-weight: bold;
  position: relative;
}

.table td {
  color: #d0d0d0;
}

.table tr:nth-child(even) {
  background-color: #1a1a1a;
}

.table tr:hover {
  background-color: #333;
}

.thComCalendario {
  position: relative;
}

.seta {
  cursor: pointer;
  font-size: 15px;
  margin-left: 6px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  background: #1e1e1e;
  border: 1px solid #444;
  padding: 6px;
  z-index: 10;
  border-radius: 4px;
}

.inputDate {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #666;
  padding: 4px;
  border-radius: 4px;
}


.semDados {
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: #e6150a;
  background-color: #2c2c2c;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.clearButton {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: color 0.2s ease;
}

.clearButton:hover {
  color: #ff5555;
}

/*check box*/
.numberReport {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.checkBox {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #444;
  display: inline-block;
  cursor: pointer;
  flex-shrink: 0;
}

.checkBoxActive {
  background-color: yellow;
}





